.dropdown {
  width: 100%;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
