.item {
  .item__top {
    display: flex;
    justify-content: space-between;
  }

  .item__bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;

    .item__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      b,
      strong {
        font-size: 18px;
      }
    }

    .item__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 14px;
      margin-left: auto;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        span:first-child {
          color: #808080;
        }

        strong {
          font-size: 17px;
        }
      }
    }
  }
}
