@import '@/styles/mixins.scss';

.filter__mobile {
  width: 100%;

  .filter__buttons {
    display: flex;
    gap: 20px;

    button {
      width: 100%;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      font-size: 16px;
      font-weight: 700;
      border: 2px solid #222222;
      border-radius: 5px;
      padding: 0 10px;
    }
  }

  .filter__brands {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    margin-top: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    .filter__select {
      min-width: fit-content;
    }

    .filter__select_control,
    .filter__select__control_focused {
      border: none;
      box-shadow: none;
    }

    .filter__select_indicator {
      display: none;
    }

    .filter__value_container {
      padding: 0;
    }

    .filter__btnnn {
      height: 30px;
      border-radius: 5px;
      font-size: 15px;
    }

    ul {
      display: flex;
      gap: 20px;

      &::-webkit-scrollbar {
        display: none;
      }

      button {
        height: 30px;
        border: 2px solid #7b7b7b;
        border-radius: 5px;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 20px;
      }
    }
  }
}
