@import '@/styles/mixins.scss';

.favorites {
  .favorites__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .favorites__nothing {
    @include page_nothing;
  }
}

@media (max-width: 768px) {
  .favorites__wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 500px) {
  .favorites__wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
