.min__categories {
  margin: 40px auto;

  .min__categories_list {
    display: flex;
    gap: 20px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media (max-width: 768px) {
  .min__categories_list {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 0 !important;

    li {
      border: 1px solid #f2f2f2;
      text-align: center;
      padding: 20px;
    }
  }
}
