@import '@/styles/mixins.scss';

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .filter__top {
    display: flex;
    gap: 10px;

    @include select;
  }

  .filter__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filter__select {
      width: fit-content !important;
    }

    @include select;
  }
}
