.nav {
  z-index: 2;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #7f7f7f;

    li {
      width: 100%;
      text-align: center;
      text-transform: uppercase;

      .active {
        font-weight: 700;
        color: black;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    border-bottom: 1px solid #ededed;

    li {
      height: 32px;

      .active {
        width: fit-content;
        display: block;
        border-bottom: 4px solid black;
        margin: -1px auto 0 auto;
        padding-bottom: 11px;
      }
    }
  }
}
