.nav {
  z-index: 2;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: #7f7f7f;

    li {
      text-transform: uppercase;

      .active {
        font-weight: 700;
        color: black;
      }

      &:first-child {
        list-style: none;
      }
    }
  }
}
