.single__product {
  .single__product_slide {
    position: relative;

    img {
      max-height: 400px;
      border-radius: 5px;
    }

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      padding: 20px;

      img {
        width: 22px;
        height: 22px;
        object-fit: contain;
      }
    }
  }

  .single__product_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    margin-top: 20px;

    .single__product_b,
    .single__product_s {
      font-size: 20px;
    }

    .product__add span {
      width: 100%;
      text-align: center;
    }
  }
}
