.cwidget {
  ul {
    display: grid;
    gap: 20px;

    a {
      font-size: 14px;
    }
  }

  .accordion__summ {
    display: flex;
    gap: 10px;

    img {
      object-fit: contain;
    }
  }

  .accordion {
    font-size: 17px;
    text-transform: uppercase;
    background-color: transparent !important;
    box-shadow: none !important;

    &::before {
      content: none !important;
    }

    .accordion__summary {
      min-height: unset !important;
      padding: 0 !important;
    }

    .accordion__gutters {
      margin: 10px 0 !important;
    }

    .accordion__list {
      display: grid;
      gap: 20px;

      li {
        font-size: 14px;
      }
    }
  }
}
