.item {
  display: flex;
  gap: 20px;

  .item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    b,
    strong {
      font-size: 18px;
    }
  }

  .item__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;

    .item__counter {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 24px;
        height: 24px;
        border-radius: 5px;
      }
    }
  }
}
